<!doctype html>
<head>
	<title>LoL Game Timeline</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></link>
</head>

<body>
	<div id="app" class="container">
		
	</div>
</body>


<!--<script type="text/javascript" src="{{ url_for('static', filename='lol.js') }}"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script type="text/jsx" src="{{ url_for('static', filename='index.js') }}"></script>